{% extends "account/base_manage_password.html" %}
{% load allauth i18n %}
{% load django_bootstrap5 %}
{% block head_title %}
    {% trans "Change Password" %}
{% endblock head_title %}
{% block content %}
  <div class="container mt-4 h-100">
    <div class="row justify-content-center">
      <div class="col-12 col-sm-10 col-md-8 col-lg-6">
        <div class="card" style="padding: 20px;">
          <div class="card-body">
            <h1 class="text-center fs-2">{% trans "Change Password" %}</h1>
            {% url 'account_change_password' as action_url %}
            <form method="post" class="mt-4" action="{{ action_url }}">
                {% csrf_token %}
                {% bootstrap_form form %}
                <div class="row">
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary w-100">{% trans 'Change Password' %}</button>
                    </div>
                </div>
            </form>
            <p class="text-center mt-4"><a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
