{% extends "account/base_entrance.html" %}
{% load i18n allauth account %}
{% load django_bootstrap5 %}
{% block head_title %}
    {% trans "Password Reset" %}
{% endblock head_title %}

{% block content %}
  <div class="container mt-4 h-100">
    <div class="row justify-content-center">
      <div class="col-12 col-sm-10 col-md-8 col-lg-6">
        <div class="card" style="padding: 20px;">
          <div class="card-body">
            <h1 class="text-center fs-2">{% trans "Password Reset" %}</h1>
            {% if user.is_authenticated %}
                {% include "account/snippets/already_logged_in.html" %}
            {% endif %}
            <p class="text-center">
                {% trans "Enter your email address and we'll send you an email allowing you to reset it." %}
            </p>
            {% url 'account_reset_password' as reset_url %}
            <form method="post" class="mt-4" action="{{ reset_url }}">
                {% csrf_token %}
                {% bootstrap_form form %}
                <div class="row">
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary w-100">{% trans 'Reset My Password' %}</button>
                    </div>
                </div>
            </form>
            <p class="text-center mt-4">{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
