{% extends 'account/base_entrance.html' %}
{% load i18n %}
{% load allauth account socialaccount %}
{% load django_bootstrap5 %}

{% block content %}
  <div class="container mt-4 h-100">
    <div class="row justify-content-center">
      <div class="col-12 col-sm-10 col-md-8 col-lg-6">
        <div class="card" style="padding: 20px;">
          <div class="card-body">
            <h1 class="text-center fs-2">{% trans "Sign Up" %}</h1>
            <p class="text-center">Use this form to create a new account.</p>
            {% url 'account_signup' as action_url %}
            <form method="post" class="mt-4" action="{{ action_url }}">
              {% csrf_token %}
              {% bootstrap_form form %}
              <div class="row">
                <div class="col-12">
                  <button type="submit" class="btn btn-primary w-100">{% trans "Register" %}</button>
                </div>
              </div>
            </form>
            {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
            {% if user.is_authenticated %}
              <p class="text-center mt-4">Welcome, {{ user.username|capfirst }}! You're already signed in.</p>
            {% else %}
              <p class="text-center mt-4">If you already have an account, please <a href="{% url 'account_login' %}">sign in</a>.</p>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
