{% extends 'base_generic.html' %}

{% load django_bootstrap5 %}

{% block content %}
  <div class="container mt-4 h-100">
    <div class="row justify-content-center">
      <div class="col-12 col-sm-10 col-md-8 col-lg-6">
        <div class="card" style="padding: 20px;">
          <div class="card-body">
            <h1 class="text-center fs-2">M-Pesa Rates and Charges</h1>
            <p class="text-center">Use this form to know the charges for transacting on the M-Pesa Platform.</p>
            <form method="post" class="mt-4">
              {% csrf_token %}
              {% bootstrap_form form %}
              <div class="row">
                <div class="col-12">
                  <button type="submit" class="btn btn-primary w-100">Calculate</button>
                </div>
              </div>
            </form>
            {% if fee %}
              <div class="alert alert-info mt-4" style="text-align: center;">
                To {{ transaction_type }} Ksh. {{ amount }}. You will be charged: <strong>{{ fee }}</strong> Kenyan Shillings.
              </div>
            {% endif %}

            {% if user.is_authenticated %}
              <p class="text-center mt-4">Hey, {{ user.username|capfirst }}! You can view your past transactions in your dashboard.</p>
            {% else %}
              <p class="text-center mt-4">To keep track of your charges, please <a href="{% url 'account_login' %}">Login</a> or <a href="{% url 'account_signup' %}">Register</a>.</p>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
